.upwards,
.downwards {
    text-align: center;
}

.sideways {
    text-align: center;
}

.left,
.right {
    margin: 32px;
    margin-top:5px;
    margin-bottom:5px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    border-image: url(./images/BorderDesign.jpg) 25% round;
    color: #dc042c;
    background: #181818;
    box-shadow: 0 0 10px #abbfc0;/*5px -5px 10px rgba(0,0,0,0.6);*/
    font-family:  "papyrus", Courier, monospace;
    font-size:1.5em;
}

.right:hover {
    background-color: #333333;
    color:#b40525;
    }
    
.right:active {
    background-color: #857206fd;
    transform: translateY(10px);
    }

.left:hover {
    background-color: #333333;
    color:#b40525;
    }
       
.left:active {
    background-color: #857206fd;
    transform: translateY(10px);
    }

.up,
.down {
    padding: 15px;
    /*border: 0px solid;*/
    border-radius: 10px;
    border: 2px solid transparent;
    border-image: url(./images/BorderDesign.jpg) 25% round;
    color: #dc042c;
    background: #181818;
    box-shadow: 0 0 10px #abbfc0; /*5px -5px 10px rgba(0,0,0,0.6);*/
    font-family:  "papyrus", Courier, monospace;
    font-size:1.5em;
}


.up:hover {
    background-color: #333333;
    color:#b40525;
    }
.up:active {
    background-color: #857206fd;
    transform: translateY(10px);
    }
.down:hover {
    background-color: #333333;
    color:#b40525;
    }
.down:active {
    background-color: #857206fd;
    transform: translateY(10px);
    }


