.wrapper {
    position: relative;
    width:270px;
    height:115px;
    border:3px solid transparent;
    border-image: url(./images/BorderDesign.jpg) 25% round;
    border-radius: 10px;
    margin:0px auto;
    margin-top:200px; /*lower number moves position of wrapper higher*/
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    box-shadow: 0 0 15px #abbfc0; 
}

.start {
    margin:30px;
    background:#181818;
    color: #e40931;
    border-radius:10px;
    padding:7px;
    font-size:1.5em;
    box-shadow:0 0 10px #abbfc0;
    font-family:  "papyrus", Courier, monospace; /* Luminari "Courier New"*/
}

.start:hover {
background-color: #1f1f1f;
color:#b30f2d;
}

.start:active {
  background-color: #857206fd;
  transform: translateY(5px);
}



